* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FF6900;
    height: 60px;
    width: 100%;
    box-shadow: 0px 1px 5px -1px #000;
    position: fixed;
    padding: .8rem 0;
    z-index: 1;
}

h5 {
    font-size: .8rem;
    text-transform: uppercase;
}

.container {
    max-width: 1000px;
    width: 100%;
    min-height: 1500px;
    margin: 0 auto;
}

.main-padding {
    padding-top: 6.5rem;
}

/* header */
.header-nav {
    min-height: 30px;
    display: flex;
    align-items: center;
}

.header-categories {
    width: 20%;
    min-height: 30px;
    display: flex;
    align-items: center;
}

.header-categories a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    font-weight: 800;
    margin-right: 8px;
}

.header-logo {
    min-height: 30px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img {
    height: 25px;
}

.header-menu {
    min-height: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-menu svg {
    height: 13px;
    fill: white;
    margin-left: 8px;
}
/* header */

/* main */
.row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.col {
    flex-basis: calc(100% / 3 - 15px);
    flex-grow: 1;
}

.product {
    width: 100%;
    height: 90%;
    position: relative;
}

.product img {
    width: 100%;
    height: 100%;
}

.product .product-specifics {
    font-size: .65rem;
    padding-bottom: 1.5rem;
}

.product-specifics .product-price {
    color: red;
    font-weight: 800;
}

.discount {
    display: flex;
    position: absolute;
    bottom: 35px;
    font-size: .65rem;
    color: white;
    font-weight: 800;
}

.percentage {
    background-color: red;
    padding: 4px 10px;
    margin-right: 5px;
}

.eco {
    background-color: green;
    padding: 4px 10px;
}