* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FF6900;
    min-height: 40px;
    width: 100%;
    box-shadow: 0px 1px 5px -1px #000;
    position: fixed;
    padding: .8rem 0;
}

.container {
    width: 1000px;
    min-height: 30px;
    max-height: 2000px;
    margin: 0 auto;
    border: 1px dashed red;
}

/* header */
.header-nav {
    min-height: 30px;
    display: flex;
    align-items: center;
}

.header-categories {
    width: 20%;
    min-height: 30px;
    display: flex;
    align-items: center;
}

.header-categories a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    font-weight: 800;
    margin-right: 8px;
}

.header-logo {
    min-height: 30px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img {
    height: 25px;
}

.header-menu {
    min-height: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-menu svg {
    height: 13px;
    fill: white;
    margin-left: 8px;
}
/* header */

/* main */
.row {
    display: flex;
}